
 <link rel="stylesheet" href="styles/style.css" />
<nav class="smallnav" id="smallnav">
    <div class="main" id="main">
      <div class="mainopen" id="mainopen">
        <div class="violet open" id="violet"></div>
        <div class="purple open" id="purple"></div>
        <div class="blue open" id="blue"></div>
      </div>
      <div class="childnav" id="childnav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/events">complaints</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">SignUp/Login</a></li>
          </ul>
    </div>
  </nav>
  <nav class="bignav">
    <h1>LocalLink</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/events">complaints</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">SignUp/Login</a></li>
    </ul>
  </nav>